<!DOCTYPE html>
<html>
    <body>
        <table border="1" width="100%;" height=895>
            <tr>
              <th height=150 width="20%;">Navigation Pane</th>
                
              <th height=150 width="80%;">Book Review</th>
            </tr>
            <tr>
                <td height=150><a href="index.html">Home Page</td>
                <td rowspan="4"><img src="brave-new-world.jpg" width="300" height="400" align="left"><h1>Brave New World</h1>Brave New World is a book written by Aldous Huxley in 1932. <br/>
                    this is yet another great book about a dystopian society.
                </td>
            <tr>
                <td height=150><a href="books.html">Books</a></td>

            </tr>
            <tr>
                <td height=150><a href="contactus.html">Contact Us</a></td>
            </tr>
            <tr>
                <td height=150><a href="survey.html">Survey</a></td>
            </tr>
          </table> 
    </body>
</html>