<!DOCTYPE html>
<html>
    <body>
        <table border="1" width="100%;" height=895>
            <tr>
              <th height=150 width="20%;">Navigation Pane</th>
                
              <th height=150 width="80%;">Contact Us</th>
            </tr>
            <tr>
                <td height=150><a href="index.html">Home Page</td>
                <td rowspan="10" align="center"><b>Address</b>: Iran, Bushehr Province, Neidi, Bandar Bushehr, XR4H+3CG.
                    <br/><b>Locate Us on Google Maps!</b>
                    <br/><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3491.085373245912!2d50.82638941533554!3d28.955192176154267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9054a71781f0d534!2s7HWGXR4H%2B3CG!5e0!3m2!1sen!2sca!4v1642117936590!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></td>
            </tr>
            <tr>
                <td height=150><a href="books.html">Books</a></td>
            </tr>
            <tr>
                <td height=150><a href="contactus.html">Contact Us</a></td>
            </tr>
            <tr>
                <td height=150><a href="survey.html">Survey</a></td>
            </tr>
          </table> 
    </body>
</html>