<!DOCTYPE html>
<html>
    <body>
        <table border="1" width="100%;" height=895>
            <tr>
              <th height=150 width="20%;">Navigation Pane</th>
                
              <th height=150 width="80%;">Welcome to Mobasery Library</th>
            </tr>
            <tr>
                <td height=150><a href="index.html">Home Page</td>
                <td rowspan="4" align="center">We are a small library located in Bushehr, a small city located in the middle east. <br/>To navigate our website and view
                    all availible books and resources please use the links on the 
                    left hand side of this website</td>
            </tr>
            <tr>
                <td height=150><a href="books.html">Books</a></td>
            </tr>
            <tr>
                <td height=150><a href="contactus.html">Contact Us</a></td>
            </tr>
            <tr>
                <td height=150><a href="survey.html">Survey</a></td>
            </tr>
          </table> 
    </body>
</html>