<!DOCTYPE html>
<html>
    <body>
        <table border="1" width="100%;" height=895>
            <tr>
              <th height=150 width="20%;">Navigation Pane</th>
                
              <th height=150 width="80%;">Customer Feedback Survey</th>
            </tr>
            <tr>
                <td height=150><a href="index.html">Home Page</td>
                <td rowspan="4">Name <input type="text">
                    <br/>Date of Birth <input type="date">
                    <br/>How likely is <br/>it that you recommend <br/>this library to<br/>your friends?
                    <input type="radio" id="very">
                    <label for="very">Very likely</label>
                    <input type="radio" id="somewhat">
                    <label for="somewhat">Somewhat likely</label>
                    <input type="radio" id="not">
                    <label for="not">Not likely</label>
                    <br/>
                    <div style="text-align: center;">
                        <input type="submit" value="Submit"></td>
                    </div>                
            <tr>
                <td height=150><a href="books.html">Books</a></td>

            </tr>
            <tr>
                <td height=150><a href="contactus.html">Contact Us</a></td>
            </tr>
            <tr>
                <td height=150><a href="survey.html">Survey</a></td>
            </tr>
          </table> 
    </body>
</html>